body {
    margin: 2em;
    padding-top: 0;
}

nav {
    font-family: "PT Sans Narrow", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

nav a {
    font-size: 20px;
}

nav li {
    flex-grow: 1;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li a {
    color: #616161;
    text-shadow: #e0e0e0 1px 1px 0;
    display: block;
    text-decoration: none;
    padding: 0.5em 1em;
    border: 1px solid red;
}

nav li a:hover {
    color: darkslategray;
}

@media screen and (min-width: 480px) {
    nav ul {
        display: flex;
    }
}

.descripcion {
    display: flex;
    justify-content: left;
}

.descripcion h1 {
    margin-top: 40px;
    margin-left: 0vw;
    font-size: 6vmax;
    font-family: 'Anton', sans-serif;
    border: 1px solid red;

}

.chile {
    height: 8vmax;
}

@media all and (max-width: 900px) {
    .descripcion {
        justify-content: center;
    }
}

.wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    font-weight: bold;
    text-align: center;
}

.wrapper>* {
    padding: 10px;
    margin: 0px;
}

.main {
    text-align: left;
    border: 1px solid red;
}

.yo {
    height: 16em;
    border-radius: 100%;
    justify-content: center
}

@media all and (min-width: 900px) {
    .main {
        flex: 2 0px;
    }

    .yo {
        order: 1;
    }

    .main {
        order: 2;
    }
}